main {
  padding: 57px 27px;
  color: white;
  background-image: url(./Reactgreyhalflogo.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right 55%;
}
.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--facts {
  margin-top: 46px;
  max-width: 400px;
}
.main--facts > li {
  line-height: 19px;
  padding-block: 15px;
}
.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
