.nav {
  display: flex;
  align-items: center;
  background: #21222a;
  padding: 30px 25px;
  height: 90px;
}
.nav--reactfacts,
.nav--projecttitle {
  margin: 0;
}

.nav--reactfacts {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}
.nav--projecttitle {
  color: #deebf8;
  font-weight: 600;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}
